<div class="container-fluid tile-container">
    <div class="block-grid-lg-4 block-grid-md-3 block-grid-sm-2 block-grid-xs-1">
        <!-- Show all tasks-->
        <div ng-repeat="task in tasks" class="block-grid-item">
            <div ng-controller="TaskController" ng-init="task=task" id="{{task.taskID}}" ng-class="{delegated: task.delegated}" class="tile red tile-animated" style="animation-duration: {{task.duration}}; animation-delay: {{task.delay}};">
                <!-- Each Task Tile -->
                <div class="row" style="min-height: 110px"><!-- Top Row-->
                    <div class="col-xs-2">
                        <div class="glyph-box {{task.taskStyle}}" style="font-size: 60px; margin-top: 15px;"></div>
                    </div>
                    <div class="col-xs-9 col-xs-offset-1">
                        <div class="text-right edit-tile-icon">
                            <a class="edit-tile" ui-sref="dashboard.editTask({taskID: task.taskID})">
                                <span class="fa fa-pencil glyph-button"></span>
                            </a>
                        </div>
                        <div class="text-right" style="margin-top: -5px;">
                            <h2 class="title">{{task.taskName}}</h2>
                            <span>{{task.description}}</span>
                        </div>
                    </div>
                </div><!-- End top Row-->

                <div class="row"><!-- Bottom Row-->
                    <div class="col-xs-6">
                        <div ng-show="task.everCompleted">
                            <span id="thumbs-up" ng-click="addFeedback(true)" class="glyph-button" ng-class="{'fa fa-thumbs-up': task.userFeedback == true, 'fa-thumbs-o-up fa': !task.userFeedback}" aria-hidden="true"></span>
                            <span id="positive-feedback" ng-bind-html="feedback.positive"></span>
                       
                            <span id="thumbs-down" ng-click="addFeedback(false)" class="glyph-button" ng-class="{'fa fa-thumbs-down': task.userFeedback == false, 'fa-thumbs-o-down fa': (task.userFeedback == true || task.userFeedback == null) }" aria-hidden="true"></span>
                            <span id="negative-feedback" ng-bind-html="feedback.negative"></span>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <span ng-click="addTaskEvent()" class="glyphicon glyphicon-ok glyph-button" aria-hidden="true" style="margin-right: 10px;"></span>
                        <history-popover task="task"></history-popover>
                    </div>
                </div><!-- End bottom Row-->
            </div>
        </div>

        <!-- Add Task Tile -->
        <div class="block-grid-item">
            <a ui-sref="dashboard.addTask">
                <div id="addTaskTile" class="tile">
                    <span>+</span>
                </div>
            </a>
        </div>
    </div>
</div>