<!--House statistics panel-->
<div class="container-fluid tile-container">
    <h3 style="margin-top:0px; text-transform:capitalize;">{{houseData.name}}'s House Statistics</h3>
    <!--Accordeon opening-->
    <script type="text/ng-template" id="member-statistics.html">
        <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading user-box">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <h4 class="panel-title">
                        <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                    </h4>
                </a>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" style="text-align: center" ng-transclude></div>
            </div>
        </div>
    </script>
    <!--Charts put inside the row class-->
    <div class="row">
        <!--Right-most accordion statistics-->
        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-4 col-md-push-8" ng-controller="HouseChartsController">
            <uib-accordion close-others="false">
                <uib-accordion-group heading="No Slack Score" ng-init="isOpen = true" is-open="isOpen" template-url="member-statistics.html">
                    <canvas ng-if="$parent.isOpen" id="houseChart1" class="chart chart-polar-area" chart-data="chart1Data" chart-labels="chart1Labels" chart-options="options" width="250px;" chart-legend="true"></canvas>
                </uib-accordion-group>
                <uib-accordion-group heading="Day-to-day Activity" ng-init="isOpen = true" is-open="isOpen" template-url="member-statistics.html">
                    <canvas ng-if="$parent.isOpen" id="houseChart2" class="chart chart-line" chart-data="chart2Data" chart-labels="chart2Labels" chart-series="chart2Series" chart-options="options" width="250px;" chart-legend="true"></canvas>
                </uib-accordion-group>
                <!--Overall task distribution accordion-->
                <uib-accordion-group heading="Overall Task Distribution" ng-init="isOpen2 = true" is-open="isOpen2" template-url="member-statistics.html">
                    <canvas ng-if="$parent.isOpen" id="houseChart3" class="chart chart-radar" chart-data="chart3Data" chart-labels="chart3Labels" chart-series="chart3Series" chart-options="options" width="250px;" chart-legend="true"></canvas>
                <!--End of task distribution accordion-->
                </uib-accordion-group>
                <!--End of right-most accordion-->
            </uib-accordion>
        </div>
        <!--Left most accordion-->
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-8 col-md-pull-4">
            <!--By default, display user's avatar, first and last name-->
            <uib-accordion close-others="true">
                <uib-accordion-group is-open="$first" ng-repeat="(id, member) in users" template-url="member-statistics.html">
                    <uib-accordion-heading>
                        <img ng-src="/requests/avatar/{{id + '?decache=' + random[id] }}" alt="" width="32" height="32">
                        <span>{{member.firstName}} {{member.lastName}}</span>
                    </uib-accordion-heading>
                    <!--When accordion is open-->
                    <div class="row" ng-controller="MemberChartsController" ng-if="$parent.isOpen">
                        <!--Display task events per tasks and Feedback on tasks-->
                        <div class="col-lg-6 col-xs-12">
                            <div class="panel-heading">
                                <h4>Tasks completed by {{member.firstName}}</h4>
                            </div>
                            <canvas id="chart1" ng-if="chart1Data.length>0" class="chart chart-doughnut" chart-data="chart1Data" chart-labels="chart1Labels" chart-options="options" width="250px;" chart-legend="true"></canvas>
                            <div ng-show="chart1Data.length==0">No data available</div>
                        </div>
                        <div class="col-lg-6 col-xs-12">
                            <div class="panel-heading">
                                <h4>Feedback received on {{member.firstName}}'s tasks</h4>
                            </div>
                            <!-- We use the data from chart1 for validation, since there will always be data (array of 0s) for chart2  -->
                            <canvas id="chart2" class="chart chart-bar" ng-if="chart1Data.length>0" chart-data="chart2Data" chart-labels="chart2Labels" chart-series="chart2Series" chart-options="options" width="250px;" chart-legend="true" chart-colours="colorsBar"></canvas>
                            <div ng-show="chart1Data.length==0">No data available</div>
                        </div>
                        <!--End feedback on tasks accordion-->
                    </div>
                <!--End of left most statistics accordion-->
                </uib-accordion-group>
                <!--End of right most day-to-day activity and Overall task distribution accordions -->
            </uib-accordion>
        </div>
    </div>
   <!--End of statistics panel--> 
</div>