<div class="modal-header">
    <h3 class="modal-title" ng-bind-html="title"></h3>
</div>
<div class="modal-body">
    <form name="addTaskForm" class="form-horizontal">
        <fieldset>            
            <div class="form-group">
                <label class="col-xs-3 col-xs-offset-1 text-left control-label" for="textinput">Name <span style="color: red">*</span></label>  
                <div class="col-xs-7">
                    <div class="input-group">
                        <input name="nameField" ng-model="nameField"  uib-typeahead="task for task in commonTasks | filter:$viewValue | limitTo:8" type="text" placeholder="e.g. Hoovering" class="form-control" max="13" ng-required="true">
                        <span class="input-group-addon">
                            <ui-iconpicker ng-model="iconClass" value="{{defaultIcon}}"></ui-iconpicker>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-xs-3 col-xs-offset-1 text-left control-label" for="textarea">Description</label>
                <div class="col-xs-7">                     
                    <textarea ng-model="descriptionField" class="form-control boxSizingBorder" style="width:100%;" ng-maxlength="60" maxlength="60" ng-trim="false" name="textarea"></textarea>
                    <span class="help-block">How would you describe the task? {{descriptionField.length || 0}}/60</span> 
                </div>
            </div>
                        
            <div class="form-group">
                <label class="col-xs-3 col-xs-offset-1 text-left control-label" for="textinput">Frequency <span style="color: red">*</span></label> 
                <div class="col-xs-8">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-xs-2 control-label text-left">every</label>
                            <div class="col-xs-4">
                                <input name="frequencyValue" ng-model="frequencyValue" type="number" class="form-control" min="1" value="1" ng-pattern="/^[0-9]+$/" ng-required="true">
                            </div>
                            <div class="col-xs-4">
                                <select ng-model="frequencyUnit" class="form-control" ng-options="frequencyUnitOption.value as frequencyUnitOption.name for frequencyUnitOption in frequencyUnitOptions"> 
                                </select>
                            </div>
                            
                        </div>
                    </div>
                    <p class="help-block" ng-show="addTaskForm.frequencyValue.$error.pattern">Please enter a valid number</p>
                </div>
            </div> 
        </fieldset>
    </form>

</div>
<div class="modal-footer">
    <button ng-if="edit" class="btn btn-primary" type="button" ng-click="delete()" style="float: left; background-color: darkred;">Delete</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button ng-if="!edit" class="btn btn-primary" type="button" ng-disabled="addTaskForm.$invalid" ng-click="ok()">OK</button>
    <button ng-if="edit" class="btn btn-primary" type="button" ng-disabled="addTaskForm.$invalid" ng-click="update()">Update</button>
</div>