@include keyframes(example) {
    0%   {background-color:$color_green;}
    65%   {background-color:$color_orange;}
    100%  {background-color:$color_red;}
}

@include keyframes(slideOutLeft) {
    to      { @include transform(translateX(-100%)); }
}

@include keyframes(slideInRight) {
    from    { @include transform(translateX(100%)); }
    to      { @include transform(translateX(0)); }
}

@include keyframes(fadeInForward) {
    0% {@include transform(translateZ(-5em) scale(0)); opacity:0;}
    100% {@include transform(translateZ(0) scale(1)); opacity:1;}
}

#ngProgress {
    height: 5px!important;
}

.ng-leave{ 
    animation:  slideOutLeft 0.8s both ease; 
    z-index: 9999; 
}

.ng-enter, .ng-move {
    animation:  fadeInForward 0.8s both ease; 
}

.fadeInForward-1, .fadeInForward-2, .fadeInForward-3, .fadeInForward-4, .fadeInForward-5 {
    opacity:0;
    transform: translateZ(-5em) scale(0.75);
    animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
}

.fadeInForward-2{animation-delay: .3s;}
.fadeInForward-3{animation-delay: .5s;}
.fadeInForward-4{animation-delay: .6s;}
.fadeInForward-5{animation-delay: .7s;}