@import "bourbon";
@import "neat";
@import "bootstrap";
@import "partial";
@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);


//Customizing variables
$navbar-default-bg: transparent;
$navbar-default-border:transparent;
    
    
$theme-primary: #c1904b;
$theme-dark: #222;

//Tile colours
$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;


$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$display_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

body {
    font-family: $text_font_family;
    font-size: $base_font_size;
    line-height: $base_line_height;
    font-weight: 400;
}

p, span, a, ul, li, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display_font_family;
    line-height: $base_line_height;
    font-weight: 300;	
}

strong {
    font-weight: 400;
}

.tile {  
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;		
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    
    @include transition-all();
    
    .title {
        margin-top: 0px;
        white-space: nowrap;
    }

    &.purple, &.blue, &.red, &.orange, &.green {
        color: #fff;
    }

    &.purple {
        background: $color_purple;

        &:hover {
            background: darken($color_purple, 10%);
        }		
    }

    &.red {
        background: $color_red;

        &:hover {
            background: darken($color_red, 10%);
        }		
    }

    &.green {
        background: $color_green;

        &:hover {
            background: darken($color_green, 10%);
        }		
    }

    &.blue {
        background: $color_blue;

        &:hover {
            background: darken($color_blue, 10%);
        }	
    }

    &.orange {
        background: $color_orange;

        &:hover {
            background: darken($color_orange, 10%);
        }	
    }
}


#logo{
    font-family: Arial;
    text-transform: none;
    text-shadow: 1px 1px #aaa;
    color: $theme-primary;
    font-size: 26px;
}



.large-glyph {
  font-size: 28px;
    padding: 10px;
}

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

.form-container {
    padding-top: 40px;
  margin: auto;
  width: 30rem; }

body {
    @include serif-font();
}

hr {
    border-color: $theme-primary;
    border-width: 1px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all();
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font();
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: lighten(white, 70%);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation
.navbar{
    border-bottom: 0px;    
}

.navbar-default {
    background-color: white;
    border-color: lighten($theme-dark, 5%);
    @include sans-serif-font();
    @include transition-all();
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font();
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            margin-left: 1px;
            > a,
            > a:focus {
                background: $theme-primary;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: #fff;
                &:hover {
                    color: #fff;
                    background-color: darken($theme-primary, 30%);
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: #fff !important;
                    background-color: $theme-primary;
                    &:hover {
                        color: #fff;
                        background-color: darken($theme-primary, 30%);
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: lighten(white, 30%);
        .navbar-header .navbar-brand {
            color: lighten(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: lighten(white, 70%);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: lighten($theme-dark, 5%);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: #fff;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover();
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/header.jpg'), no-repeat;
    background-size:   cover;    
    background-repeat: no-repeat;
    background-position: center center;
    nav{
        position: relative;
    }
    
    .header-content {
        position: relative;
        //text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1,h2 {
                color: white;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 40px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: lighten(white, 70%);
                font-size: 20px;
            }
        }
    }
    
    /*
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                }
            }
        }
    }
    */
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: lighten($theme-primary, 10%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all();
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font();
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark,white,white);
}

.btn-primary {
    @include button-variant(white,$theme-primary,$theme-primary);
}

.btn {
    @include sans-serif-font();
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-dark;
}