//Customizing variables
$navbar-default-bg: transparent;
$navbar-default-border:transparent;

$theme-primary: #993333;
$theme-dark: #222;

$input-group-addon-bg: $theme-primary;
$input-group-addon-border-color: $input-group-addon-bg;

@import "bourbon";
@import "neat";
@import "bootstrap";
@import "partial";
@import "mixins";

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);



.input-group-addon{
    color: #fff;
}

//Tile colours
$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;


$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$display_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

body {
    font-family: $text_font_family;
    font-size: $base_font_size;
    line-height: $base_line_height;
    font-weight: 400;
}

p, span, a, ul, li, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display_font_family;
    line-height: $base_line_height;
    font-weight: 300;	
}

strong {
    font-weight: 400;
}

/* centered columns styles */

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    min-width: 350px;
}

.tile {  
    width: 100%;
    margin-right:10px; 
    height:100%;
    display: inline-block;
    box-sizing: border-box;		
    padding: 20px;
    cursor: pointer;
    
    &#addTaskTile{
        border: 2px solid #888;
        text-align: center;
        height:100%; 
        display:table;
        span{
            font-size: 60px;
            display:table-cell; 
            vertical-align:middle;
        }
        
        &:hover{
            background: #888;
            color: #fff;
        }
    }
    
    @include transition-all();
    
    & .row-margin-25{
        margin-top: 25px;    
    }
    
    .title {
        margin-top: 0px;
        line-height: 1.1em;
        white-space: nowrap;
        
        /* Small */
        @media(min-width:768px) and (max-width:991px){
            font-size: 20px;
        }

        /* Medium */
        @media(min-width:992px) and (max-width:1399px){
            font-size: 25px;
        }

        /* Large */
        @media(min-width:1400px){
            font-size: 30px;   
        }
    }

    &.purple, &.blue, &.red, &.orange, &.green {
        color: #fff;
    }

    &.purple {
        background: $color_purple;

        &:hover {
            background: darken($color_purple, 10%);
        }		
    }

    &.red {
        background: $color_red;

        &:hover {
            background: darken($color_red, 10%);
        }		
    }

    &.green {
        background: $color_green;

        &:hover {
            background: darken($color_green, 10%);
        }		
    }

    &.blue {
        background: $color_blue;

        &:hover {
            background: darken($color_blue, 10%);
        }	
    }

    &.orange {
        background: $color_orange;

        &:hover {
            background: darken($color_orange, 10%);
        }	
    }
    
    &.tile-animated {
        -webkit-animation-name: example; /* Chrome, Safari, Opera */
        
        animation-name: example;
    }

}

.dark-red{
    background-color: #933333;
    color: white;
}
.person-list {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.person-list > .tile{
    padding: 20px;
}

.person-list > .tile > img{
    float: left;
}

.person-list > .tile > h2{
    margin-left: 20px;
    float: left;
}

.person-detail-list{
    float: left;
    list-style: none;
    margin-left: -23px;
    margin-bottom: 0px;
}

.task-list{
    min-width: 440px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.task-list-item{
    margin: auto;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;		
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-color: #933333;
    color: white;
}

.task-list-item > .col-sm-2 {
    min-width: 200px;
}

.task-list-item > .col-sm-4 {
    min-width: 230px;
}

.task-list-item > .col-sm-2 > .glyphicon{
    float: left;
    font-size: 1.5em;
    line-height: 30px;
}
.task-list-item > .col-sm-2 > h3{
    margin-top: 0px;
    float: left;
    margin-left: 10px;
    line-height: 30px;

}

.task-list-item > .col-sm-4 > .input-group {
    margin-left: -10px;
    max-width: 240px;
}

#frequency-button{
    margin-left: -10px;
    padding-left: 0px;
    background-color: #933333;
    color: white;
    border-color: #933333;
}

/*
Nest into another class because you are interfering with homepage styling
.form-control{
    height: 33px;
}

.input-group-addon{
    background: none;
    border: none;
}
*/

.frequency-dropdown{
    width: 80px;
}

.frequency-caret{
    margin-left: 5px;
}

#frequency-input{
    background-color: #822d2d;
    color: white;
    border-color: #933333;
    text-align: center;
    padding: 0px;
    width: 24px;
}
.input-group-btn:last-child > .btn{
    margin-left: 2px;
}
/*.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}*/

.fa-thumbs-o-down .fa-thumbs-o-up{
    font-size: 92%;
}

.glyph-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.glyph-button:active{
    opacity: 1;
}

.rotate-180{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

@keyframes example {
    0%   {background-color:$color_green;}
    65%   {background-color:$color_orange;}
    100%  {background-color:$color_red;}
}

#logo{
    font-family: Arial;
    text-transform: none;
    text-shadow: 1px 1px #aaa;
    color: $theme-primary;
    font-size: 26px;
}



.large-glyph {
  font-size: 28px;
    padding: 10px;
}

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

.form-container {
    padding-top: 40px;
  margin: auto;
  width: 30rem; 
}


hr {
    border-color: $theme-primary;
    border-width: 1px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all();
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font();
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: lighten(white, 70%);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

// Navigation
.navbar{
    border-bottom: 0px;
    border-radius: 0px;
}

.navbar-default {
    background-color: white;
    border-color: lighten($theme-dark, 5%);
    @include sans-serif-font();
    @include transition-all();
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font();
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            margin-left: 1px;
            > a,
            > a:focus {
                background: $theme-primary;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: #fff;
                &:hover {
                    color: #fff;
                    background-color: darken($theme-primary, 30%);
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: #fff !important;
                    background-color: $theme-primary;
                    &:hover {
                        color: #fff;
                        background-color: darken($theme-primary, 30%);
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: lighten(white, 30%);
        .navbar-header .navbar-brand {
            color: lighten(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: lighten(white, 70%);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: lighten($theme-dark, 5%);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: #fff;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}


// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover();
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/header.jpg'), no-repeat;
    background-size:   cover;    
    background-repeat: no-repeat;
    background-position: center center;
    nav{
        position: relative;
    }
    
    .header-content {
        position: relative;
        //text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1,h2 {
                color: white;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 40px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: lighten(white, 70%);
                font-size: 16px;
                padding-top: 3px;
            }
        }
    }
    
    /*
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                }
            }
        }
    }
    */
}

// Sections

.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: lighten($theme-primary, 10%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all();
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font();
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark,white,white);
}

.btn-primary {
    @include button-variant(white,$theme-primary,$theme-primary);
}

.btn {
    @include sans-serif-font();
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-dark;
}

// Block Grid
// Technique adapted from Foundation 5 for Bootstrap 3.
// https://github.com/zurb/foundation/blob/f755d8704123f86c281ede0b171881e2672f150d/scss/foundation/components/_block-grid.scss
// Original LESS Version by Christopher Mitchell (https://gist.github.com/ChrisTM)
// Converted to SCSS by Rasmus Jürs (https://github.com/Jursdotme)

[class*="block-grid-"] {
    display: block;
    margin: -($grid-gutter-width/2);
    padding: 0;
    @include clearfix();
}

.block-grid-item {
    display: inline;
    margin: 0;
    padding: ($grid-gutter-width/2);
    padding-bottom: 0px;
    height: auto;
    float: left;
    list-style: none;
}

@mixin block-grid ($per-row) {
    & > .block-grid-item {
        width: (100%/$per-row);

        $nth-equation: (#{$per-row}n) + '+' +1;
        &:nth-of-type(n) { clear: none; }
        &:nth-of-type(#{$nth-equation}) { clear: both; }
    }
}

@mixin block-grids($size) {
    .block-grid-#{$size}-1  { @include block-grid(1);  }
    .block-grid-#{$size}-2  { @include block-grid(2);  }
    .block-grid-#{$size}-3  { @include block-grid(3);  }
    .block-grid-#{$size}-4  { @include block-grid(4);  }
    .block-grid-#{$size}-5  { @include block-grid(5);  }
    .block-grid-#{$size}-6  { @include block-grid(6);  }
    .block-grid-#{$size}-7  { @include block-grid(7);  }
    .block-grid-#{$size}-8  { @include block-grid(8);  }
    .block-grid-#{$size}-9  { @include block-grid(9);  }
    .block-grid-#{$size}-10 { @include block-grid(10); }
    .block-grid-#{$size}-11 { @include block-grid(11); }
    .block-grid-#{$size}-12 { @include block-grid(12); }
}

@include block-grids(xs); 
@media (min-width: $screen-sm-min) { @include block-grids(sm) }
@media (min-width: $screen-md-min) { @include block-grids(md) }
@media (min-width: $screen-lg-min) { @include block-grids(lg) }

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
