@import "bourbon";
@import "bootstrap";
@import "animations";
@import "mixins";
@import "variables";

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.btn.focus{
    outline-style:none;
    box-shadow:none;
}

.boxSizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-left{
    text-align: left !important;
}

.input-group-addon, .input-group-btn{
    color: #fff;
    padding: 0!important;
    background: white !important;
    border: none !important;
    
    button{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        padding: 1px 12px;
    }
}

/* centered columns styles */

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    min-width: 350px;
}

.delegated{
    border-color: #0d0d5c !important;//may want to alert colour
    border-style: solid;
    border-width: 3px;
}

.tile:hover .edit-tile-icon span{
    color: white !important;
    -o-transition:.5s!important;
    -ms-transition:.5s!important;
    -moz-transition:.5s!important;
    -webkit-transition:.5s!important;
    /* ...and now for the proper property */
    transition:.5s!important;
}

.edit-tile-icon{
    margin-top: -12px;
    margin-right: -10px;
    color: transparent !important;
    span{
        color: transparent !important;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.panel-red{
    color: white;
    background-color: lighten($theme-primary,5%);
    & .panel-heading{
        font-weight: 800;
        color: white;
        background-color: $theme-primary;
        margin-bottom: 20px;
        border-bottom: none;
    }
    padding-bottom: 10px;
}

.tile {  
    width: 100%;
    margin-right:10px; 
    height:164px !important;
    max-height:164px;
    display: inline-block;
    box-sizing: border-box;		
    padding: 20px;
    cursor: pointer;
    
    a{
        color: #fff !important;    
    }
    
    &#addTaskTile{
        
        a > &{
            color: #888;
            text-decoration: none !important;
            &:focus,&:hover{
                text-decoration: none !important;
                color: #fff;
            }
        }
        
        border: 2px solid #888;
        text-align: center;
        height:100%; 
        display:table;
        span{
            font-size: 60px;
            display:table-cell; 
            vertical-align:middle;
        }
        
        &:hover{
            background: #888;
            color: #fff;
        }
    }
    
    @include transition-all();
    
    & .row-margin-25{
        margin-top: 25px;    
    }
    
    .title {
        color: white;
        margin-top: 0px;
        line-height: 1.1em;
        white-space: nowrap;
        
        
        /* Small */
        @media(min-width:768px) and (max-width:991px){
            font-size: 20px;
        }

        /* Medium */
        @media(min-width:992px) and (max-width:1399px){
            font-size: 25px;
        }

        /* Large */
        @media(min-width:1400px){
            font-size: 30px;   
        }
    }

    &.purple, &.blue, &.red, &.orange, &.green {
        color: #fff;
    }

    &.purple {
        background: $color_purple;

        &:hover {
            background: darken($color_purple, 10%);
        }		
    }

    &.red {
        background: $color_red;

        &:hover {
            background: darken($color_red, 10%);
        }		
    }

    &.green {
        background: $color_green;

        &:hover {
            background: darken($color_green, 10%);
        }		
    }

    &.blue {
        background: $color_blue;

        &:hover {
            background: darken($color_blue, 10%);
        }	
    }

    &.orange {
        background: $color_orange;

        &:hover {
            background: darken($color_orange, 10%);
        }	
    }
    
    &.tile-animated {
        -webkit-animation-name: example; /* Chrome, Safari, Opera */
        animation-name: example;
    }

}

.house-title{
    margin-top: 0px;
}
.person-tile{
    min-height: 190px !important;
    cursor: auto;
}

.dark-red{
    background-color: $theme_primary;
    color: white;
}

.center-row{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.center-row > .col-sm-6 {
    min-width: 460px;
}

.person-detail-list{
    float: left;
    list-style: none;
    margin-left: -23px;
    margin-bottom: 0px;
    line-height: 22px;
}

.task-list{
    min-width: 440px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.task-list-item-content{
    margin-left: auto;
    margin-right: auto;
   width: 430px;
}

.task-list-item{
    margin: auto;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;		
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-color: $theme_primary;
    color: white;
}

.task-list-item-content > .task-list-left {
    width: 250px;
    float: left;
}

.task-list-item-content > .task-list-right {
    width: 180px;
    float: left;
}
.task-list-item > .task-list-item-content > .task-list-left > .glyphicon{
    float: left;
    font-size: 1.5em;
    line-height: 30px;
    margin-top: 5px;
}
.task-list-item > .task-list-item-content > .task-list-left > h3{
    color: white;
    margin-top: 5px;
    float: left;
    margin-left: 10px;
    line-height: 30px;

}

.task-list-item > .task-list-item-content > .task-list-right > .input-group {
    line-height: 30px;
}

.task-list-item > .task-list-item-content > .task-list-right > .input-group > .input-group-addon {
    margin-left: -10px;
    max-width: 240px;
    line-height: 30px;
    background: none !important;
}
.task-list-item > .task-list-item-content > .task-list-right > .input-group > .input-group-btn {
    background: none !important;
}

#frequency-button{
    padding-left: 0px;
    line-height: 30px;
    background-color: $theme_primary !important;
    color: white;
    border-color: $theme_primary;
}


.frequency-caret{
    margin-left: 5px;
}

.frequency-input{
    background-color: darken($theme_primary, 2%);
    color: white;
    border-color: $theme_primary;
    text-align: center;
    padding: 0px;
    width: 24px;
    width: 24px;
}
.input-group-btn:last-child > .btn{
    margin-left: 2px;
}

.fa-thumbs-o-down .fa-thumbs-o-up{
    font-size: 92%;
}

.glyph-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.glyph-button:active{
    opacity: 1;
}

.rotate-180{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

@keyframes example {
    0%   {background-color:$color_green;}
    65%   {background-color:$color_orange;}
    100%  {background-color:$color_red;}
}

#logo{
    text-transform: none;
    text-shadow: 1px 1px #aaa;
    color: $theme-primary;
    font-size: 26px;
}


.large-glyph {
  font-size: 28px;
    padding: 10px;
}


.form-container {
    padding-top: 40px;
  margin: auto;
  width: 30rem; 
}

hr.light {
    border-color: white;
}

a {
    @include transition-all();
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font();
}

.bg-primary {
    background-color: $theme-primary;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: lighten(white, 70%);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}


// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.btn-xl {
    padding: 15px 30px;
}

//theme

#signup-container{
    height: 90%;
    width: 100%;
    background-color: #f2f2f2;
}

#signup-container > .row{
    margin-top: 50px;
}

.navbar{
    border-radius: 0px;
    ul:not(.dropdown-menu){
        & > li{
            & > a{
                line-height: ($navbar-height+10)/2;
                height: $navbar-height+10;
            }
            height:($navbar-height+10);
            line-height: ($navbar-height+10);
            &:hover{
                @include transition-all();
            }
        }
    }
}

.navbar-default{
    background-image: linear-gradient(lighten($theme_primary,10%), $theme_primary);
    border-color: transparent;
    & .navbar-brand{
        color: white;
        &:hover{
            color: darken(white, 20%);
        }
        line-height: 30px;
    }
    .navbar-nav{
        & li{
            &:after{
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
                position: absolute;
                bottom: -1px;
            }
            &:hover:after, &.selected{
                width: 100%;
                background: #ffffff;
            }
            a{
                color: white;
                &:hover{
                    color: darken(white, 20%);
                }
            }
        }
    }
}

.centered {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

i {
	margin: 8px;
	color: #3498db; 
}

.container-table {
    display: table;
    height: 100%;
    margin-top: -80px;
    width: 100%!important;
    max-width: 1500px;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/* HeaderWrap */
#headerwrap {
	background-color: $theme_primary;
	margin-top: -20px;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
    height: 80%;
}

#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-dark;
}

[class*="block-grid-"] {
    display: block;
    margin: -($grid-gutter-width/2);
    padding: 0;
    @include clearfix();
}

.block-grid-item {
    display: inline;
    margin: 0;
    padding: ($grid-gutter-width/2);
    padding-bottom: 0px;
    height: auto;
    float: left;
    list-style: none;
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");


.popover{
    background-color: $theme-primary;
    max-width: 1000px !important;
    .popover-content{
        background-color: lighten($theme-primary,5%);
        color: white;
    }
    .popover-title{
        background-color: $theme-primary;
        color: white;
        border-bottom: none;
    }
}
