//Customizing variables
$theme-primary: #993333;
$theme-dark: #222;

$navbar-default-color: #fff;
$navbar-default-bg: $theme-primary;

$navbar-height: 60px !default;

$navbar-default-link-color:                #fff !default;
$navbar-default-link-hover-color:          #fff !default;
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color:         #fff !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;


$input-group-addon-bg: $theme-primary;
$input-group-addon-border-color: $input-group-addon-bg;

//Tile colours
$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;


$base_font_size: 14px;
$base_line_height: 1.1em;
$text_font_family: 'Lato', sans-serif;
$display_font_family: 'Lato', sans-serif;


$tile_height: 200px;